.q {
    padding-bottom: 2.5%;
}

.question {
    margin-bottom: 5px;
}

.feedback-entry {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 3px 20px;
    width: 300px;
    display: inline-block;
    margin: 5px 10px 10px 0;
}

#ins {
    margin-left: 5px;
}

#err {
    display: none;
}