* {
    box-sizing: border-box;
}

@font-face {
    font-family: Oswald;
    src: url(/static/fonts/Oswald.ttf);
}

html {
    height: 100%;
    font-family: Oswald, sans-serif;
}

/* Text formatting */
h1{
    font-size: 40px;
    font-weight: normal;
}

h2{
    font-weight: normal;
    font-size: 20px;
}

h3{
    font-weight: normal;
    font-size: 30px;
}

/* Link styling */
a{
    color: #F88379;
    font-weight: normal;
}

a:hover {
    color: #F54E41;
}

hr {
    width: 100%;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
}

.main-columns {
    display: flex;
    flex: 1 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.login-status {
    text-align: right;
}

#content-col {
    width: 100%;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

/* Buttons */
button[type=submit] {
    background-color: #F54E41;
    border: #F54E41;
    color: #ffffff;
    padding: 3px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-family: Oswald;
    border-radius: 10px;
}

button[type=submit]:hover {
    background-color: #F88379;
    cursor: pointer;
}

button[type=submit]:active {
    background-color: #DCDEE3;
    border: #000;
    border-width: 3px;
    color: #F54E41;
}

textarea {
    width: 98%;
    height: 5em;
    border: 2px solid #707070;
    resize: none;
    margin-top: 1.5%;
}

@media screen and (max-width: 44em) {
    textarea {
        width: 100%;
    }
}
