{% extends 'navbar.html' %}
{% block content %}
    <h1>Welcome to CSCB20!</h1>
    <h3>Course Description<hr></h3>
    <p>A practical introduction to databases and Web app development. Databases: terminology and applications; creating, querying and updating databases; the entity-relationship model for database design. Web documents and applications: static and interactive documents; Web servers and dynamic server-generated content; Web application development and interface with databases.</p>

    <p><b>Prerequisite:</b> Some experience with programming in an imperative language such as Python, Java or C.</p>
    <p><b>Exclusion:</b> This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
    <p><b>Syllabus:</b> <a href="{{ url_for('static', filename='b20.pdf') }}" target="_blank">PDF</a></p>
    <br>

    <h3>Course Instructor<hr></h3>
    <p><b>Dr. Anna Bretscher</b></p>
    <p><b>Email: </b><a href="mailto:bretscher@utsc.utoronto.ca">bretscher@utsc.utoronto.ca</a></p>
    <p><b>Office: </b>IC 493</p>
    <p><b>Phone: </b>(416) 208-4745</p>
    <p><b>Lectures: </b>Mondays 9:15-11:00, HW 216</p>
    <p><b>Office Hours: </b>Wednesdays 11:00-12:00</p>
{% endblock %}