{% extends 'navbar.html' %}
{% block customstyles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css') }}">
{% endblock %}
{% block content %}
    <h1>Feedback</h1>
    
    {% for qnum in q_map %}
        <div class="question" id="q{{ qnum }}">
            <span class="indicator">&#9654;</span>
            <b>{{ q_map[qnum] }}</b>
            <ul class="ans-list" id="ans-q{{ qnum }}">
                {% for entry in fb_list[qnum] %}
                    <li>{{ entry }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

{% endblock %}
{% block script %}
    <script src='{{ url_for('static', filename='js/view_feedback.js') }}'></script>
{% endblock %}